<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <!-- <img src="../assets/img/logo-small.png"> -->
      </div>
    </a>
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Tab. Restauración
      <!-- <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
            </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="./mensajes.html">
          <i class="nc-icon nc-single-copy-04"></i>
          <p>Mensajes</p>
        </a>
      </li>
      <li>
        <a href="./publicaciones.html">
          <i class="nc-icon nc-book-bookmark"></i>
          <p>Publicaciones</p>
        </a>
      </li>
      <li>
        <a href="./autores.html">
          <i class="nc-icon nc-single-02"></i>
          <p>Autores</p>
        </a>
      </li>
      <li>
        <a href="./categorias.html">
          <i class="nc-icon nc-bullet-list-67"></i>
          <p>Categorías</p>
        </a>
      </li>
      <li>
        <a href="./ediciones.html">
          <i class="nc-icon nc-tag-content"></i>
          <p>Ediciones</p>
        </a>
      </li>
      <li>
        <a href="./estatus-impresion.html">
          <i class="nc-icon nc-alert-circle-i"></i>
          <p>Estatus</p>
        </a>
      </li>
      <li>
        <a href="./imprentas.html">
          <i class="nc-icon nc-paper"></i>
          <p>Imprentas</p>
        </a>
      </li>
      <li>
        <a href="./lugares-predicacion.html">
          <i class="nc-icon nc-bank"></i>
          <p>Lugares</p>
        </a>
      </li>
    </ul>
  </div>
</div>