input[readonly] {
    background-color: #FFFFFF !important;
    color: black !important;
    cursor: text !important;
}

input[type=file] {
    opacity: 1 !important;
    position: initial !important;
}